<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
</head>

<body>
	<table class="table">
		<tr>
			<td class="th" colspan="20"><a href="__MODULE__/Goods/gcate">商品分类列表</a> | <a href="__MODULE__/Goods/addcate">添加分类</a></td>
		</tr>
		<tr class="tableTop">
			<td class="tdLittle1">序号</td>
			<td>分类名称</td>
			<td class="tdLtitle7">操作</td>
		</tr>
            <volist name="info" id="v">
		<tr>			
			<td>{$key+1}</td>
			<td>{$v.name}</td>
			
			<td>
				[
				<a href="__CONTROLLER__/edit/id/{$v.id}">修改</a>][
				<a href="__CONTROLLER__/delcate/id/{$v.id}" class="del">删除</a>]
			</td>
		</tr>
               </volist>
		
	</table>

</body>
</html>