<include file="Common/header" />
	<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
        <link rel="stylesheet" href="__PUBLIC__/css/search.css" /> 
        <script type="text/javascript" src='__PUBLIC__/js/cha.js'></script>
</head>
<body>
	<!-- 搜索顶部 -->
        <div id="ding">
	<div class="search_top">
		<div class="sealeft">
			<a href=""><img src="" alt="" /></a>
			<a href="__APP__">得声首页</a>
			<a href=""></a>
		</div>            
	</div>
           <div class="biao">
                    得声校园问答搜索系统
           </div>
            <div class="sou">
                <ul class='list'>
		<li class='nav-sel'><a href="__CONTROLLER__/index" class='home'>得声搜索</a></li>
<!--                <li class='nav-sel'><a href="__CONTROLLER__/phpanalysis" class='home'>Phpanalysis搜索</a></li>
                <li class='nav-sel'><a href="__CONTROLLER__/tpfenci" class='home'>tp搜索</a></li>
                <li class='nav-sel'><a href="__CONTROLLER__/self" class='home'>二元搜索</a></li>-->
               
	        </ul>
            </div>
         </div>
	<!-- 搜索顶部结束 -->