<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="__PUBLIC__/css/goodsadd.css" />
	<title></title>
</head>
<body>
    <form action="__CONTROLLER__/addnotice" method="post" enctype="multipart/form-data">
		<table class="table">
			<tr >
                         <td class="th" colspan="20"><a href="__MODULE__/Shop/notice">公告列表</a> | <a href="__MODULE__/Shop/addnotice">添加公告</a></td>			</tr>
			<tr>
				<td>公告标题</td>
				<td><input type="text" name="name"/></td>				
			</tr>			
			<tr>
				<td>公告内容</td>
				<td><textarea name="introduce" class="introduce"></textarea></td>
				
			</tr>
			
			<tr>
				<td colspan="2">
					<input type="submit" value="添加" class="input_button"/>
					<input type="reset" class="input_button"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>